@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "variables";
@import "mixins";
@import "placeholders";

body {
  font-family: 'Open Sans', serif;
}

.navbar {
  background-color: rgba(247,247,247,0.6);
  text-transform: uppercase;
  border: none;
  font-size: 1.25em;
  font-weight: bolder;
  padding: 15px;
  .navbar-brand {
    padding: 0;
  }
  .navbar-nav {
    letter-spacing: 2px;
    li {
      overflow: hidden;
      a {
        color: black;

        &:focus {
          color: black;
        }
        &:hover {
          color: $accent-color;
        }
      }
    }
    .page-scroll{
      padding-bottom: 5px;
    }
  }

  .current-page {
    height: 5px;
    width: 0;
    background-color: $accent-color;
  }
}

section {
  overflow: hidden;
  text-align: center;
}
header {
  @extend section;
  @extend %vertical-align;
  height: 100vh;
  min-height: 600px;
  text-align: center;

  .container {
    margin: auto;
  }

  .img {
    display: block;
  }

  .intro-text {
    .name {
      display: block;
      transform: scale(0.75);
    }
    .tagline {
      color: black;
      font-size: 2em;
      font-weight: 300;
    }
  }

  .next {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 1.5em;
  }
}

.parallax {
  height: 300px;
  overflow: hidden;
  > div {
    height: 200%;
    position: relative;
    top: -120%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.stage:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

.stage {
  @extend section;
  border-top: 2px solid $grey-color;
  position: relative;

  .anim-stage{
    min-height: 400px;
    overflow: hidden;
  }
  .anim {
    overflow: hidden;
    position: absolute;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .anim-desc{
    letter-spacing: 2px;
    @media (max-width: 991px) {
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 0;
    }
    @media (min-width: 991px) {
      height: 400px;
      display: flex;
      justify-content:center;
      align-content:center;
      flex-direction:column;
    }
  }
  .anim-text {
    font-size: 2em;
  }
  .lint {
    transform: scale(0);
  }
}

.desc-item {
  p {
    margin: auto;
  }
  img {
    width: 100%;
  }
}

#gallery {
  padding: 20px;
  #gallery-stage {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }
}

#support {
  @extend %vertical-align;
  height: 600px;
}

footer {
  @extend %vertical-align;
  color: white;
  background-color: #2c3e50;
  text-align: center;
  padding: 20px;
  line-height: 30px;

  .social-media {
    display: inline-block;
    width: 48px;
    margin: 10px;
  }
}

.text-strong {
  color: #c51111;
  font-weight: bold;
}