@import url(https://fonts.googleapis.com/css?family=Open+Sans);
header, #support, footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

body {
  font-family: 'Open Sans', serif; }

.navbar {
  background-color: rgba(247, 247, 247, 0.6);
  text-transform: uppercase;
  border: none;
  font-size: 1.25em;
  font-weight: bolder;
  padding: 15px; }
  .navbar .navbar-brand {
    padding: 0; }
  .navbar .navbar-nav {
    letter-spacing: 2px; }
    .navbar .navbar-nav li {
      overflow: hidden; }
      .navbar .navbar-nav li a {
        color: black; }
        .navbar .navbar-nav li a:focus {
          color: black; }
        .navbar .navbar-nav li a:hover {
          color: #a51d35; }
    .navbar .navbar-nav .page-scroll {
      padding-bottom: 5px; }
  .navbar .current-page {
    height: 5px;
    width: 0;
    background-color: #a51d35; }

section, header, .stage {
  overflow: hidden;
  text-align: center; }

header {
  height: 100vh;
  min-height: 600px;
  text-align: center; }
  header .container {
    margin: auto; }
  header .img {
    display: block; }
  header .intro-text .name {
    display: block;
    transform: scale(0.75); }
  header .intro-text .tagline {
    color: black;
    font-size: 2em;
    font-weight: 300; }
  header .next {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 1.5em; }

.parallax {
  height: 300px;
  overflow: hidden; }
  .parallax > div {
    height: 200%;
    position: relative;
    top: -120%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }

.stage:nth-child(odd) {
  background-color: #f7f7f7; }

.stage {
  border-top: 2px solid #f7f7f7;
  position: relative; }
  .stage .anim-stage {
    min-height: 400px;
    overflow: hidden; }
  .stage .anim {
    overflow: hidden;
    position: absolute;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
  .stage .anim-desc {
    letter-spacing: 2px; }
    @media (max-width: 991px) {
      .stage .anim-desc {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0; } }
    @media (min-width: 991px) {
      .stage .anim-desc {
        height: 400px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column; } }
  .stage .anim-text {
    font-size: 2em; }
  .stage .lint {
    transform: scale(0); }

.desc-item p {
  margin: auto; }

.desc-item img {
  width: 100%; }

#gallery {
  padding: 20px; }
  #gallery #gallery-stage {
    position: relative;
    left: 0;
    right: 0;
    margin: auto; }

#support {
  height: 600px; }

footer {
  color: white;
  background-color: #2c3e50;
  text-align: center;
  padding: 20px;
  line-height: 30px; }
  footer .social-media {
    display: inline-block;
    width: 48px;
    margin: 10px; }

.text-strong {
  color: #c51111;
  font-weight: bold; }
