.pace-running {
    height: 100vh;
    overflow: hidden;
}

.pace {
    background-color: white;

    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    z-index: 2000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

.pace-inactive {
    animation-name: fade;
    animation-duration: 1s;
    opacity: 0;
}

.pace .pace-activity {
    z-index: 2000;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    height: 90px;
    width: 90px;
    margin-top: -45px;
    border-width: 30px;
    border-style: double;
    border-color: #ee3148 transparent transparent;
    border-radius: 50%;

    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
    content: ' ';
    position: absolute;
    left: -0.5em;
    top: 10px;
    height: 50px;
    width: 50px;
    display: block;
}

@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
    100% {  transform: rotate(359deg); }
}
